In [6]:
import pandas as pd
from pandas import DataFrame

In [7]:
# 读入并预览数据
df = pd.read_csv('Wimbledon_featured_matches.csv')
df

,match_id,player1,player2,elapsed_time,set_no,game_no,point_no,p1_sets,p2_sets,p1_games,...,p2_break_pt_won,p1_break_pt_missed,p2_break_pt_missed,p1_distance_run,p2_distance_run,rally_count,speed_mph,serve_width,serve_depth,return_depth
0,2023-wimbledon-1301,Carlos Alcaraz,Nicolas Jarry,00:00:00,1,1,1,0,0,0,...,0,0,0,6.000,7.840,2,95.0,BC,NCTL,ND
1,2023-wimbledon-1301,Carlos Alcaraz,Nicolas Jarry,00:00:38,1,1,2,0,0,0,...,0,0,0,5.253,7.094,1,118.0,B,CTL,ND
2,2023-wimbledon-1301,Carlos Alcaraz,Nicolas Jarry,00:01:01,1,1,3,0,0,0,...,0,0,0,13.800,19.808,4,120.0,B,NCTL,D
3,2023-wimbledon-1301,Carlos Alcaraz,Nicolas Jarry,00:01:31,1,1,4,0,0,0,...,0,0,0,51.108,75.631,13,130.0,BW,CTL,D
4,2023-wimbledon-1301,Carlos Alcaraz,Nicolas Jarry,00:02:21,1,1,5,0,0,0,...,0,0,0,0.649,0.813,1,112.0,W,NCTL,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7279,2023-wimbledon-1701,Carlos Alcaraz,Novak Djokovic,04:39:58,5,10,330,2,2,5,...,0,0,0,38.620,50.971,11,123.0,C,NCTL,D
7280,2023-wimbledon-1701,Carlos Alcaraz,Novak Djokovic,04:40:43,5,10,331,2,2,5,...,0,0,0,17.533,27.766,5,114.0,W,NCTL,ND
7281,2023-wimbledon-1701,Carlos Alcaraz,Novak Djokovic,04:41:20,5,10,332,2,2,5,...,0,0,0,10.882,18.328,4,124.0,W,NCTL,D
7282,2023-wimbledon-1701,Carlos Alcaraz,Novak Djokovic,04:41:52,5,10,333,2,2,5,...,0,0,0,7.893,10.537,1,130.0,C,NCTL,D
7283,2023-wimbledon-1701,Carlos Alcaraz,Novak Djokovic,04:42:27,5,10,334,2,2,5,...,0,0,0,17.811,25.367,3,129.0,BW,NCTL,ND

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7284 entries, 0 to 7283
Data columns (total 46 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   match_id            7284 non-null   object
 1   player1             7284 non-null   object
 2   player2             7284 non-null   object
 3   elapsed_time        7284 non-null   object
 4   set_no              7284 non-null   int64
 5   game_no             7284 non-null   int64
 6   point_no            7284 non-null   int64
 7   p1_sets             7284 non-null   int64
 8   p2_sets             7284 non-null   int64
 9   p1_games            7284 non-null   int64
 10  p2_games            7284 non-null   int64
 11  p1_score            7284 non-null   object
 12  p2_score            7284 non-null   object
 13  server              7284 non-null   int64
 14  serve_no            7284 non-null   int64
 15  point_victor        7284 non-null   int64
 16  p1_points_won       7284 non-null   int64
 17  p2_points_won       7284 non-null   int64
 18  game_victor         7284 non-null   int64
 19  set_victor          7284 non-null   int64
 20  p1_ace              7284 non-null   int64
 21  p2_ace              7284 non-null   int64
 22  p1_winner           7284 non-null   int64
 23  p2_winner           7284 non-null   int64
 24  winner_shot_type    7284 non-null   object
 25  p1_double_fault     7284 non-null   int64
 26  p2_double_fault     7284 non-null   int64
 27  p1_unf_err          7284 non-null   int64
 28  p2_unf_err          7284 non-null   int64
 29  p1_net_pt           7284 non-null   int64
 30  p2_net_pt           7284 non-null   int64
 31  p1_net_pt_won       7284 non-null   int64
 32  p2_net_pt_won       7284 non-null   int64
 33  p1_break_pt         7284 non-null   int64
 34  p2_break_pt         7284 non-null   int64
 35  p1_break_pt_won     7284 non-null   int64
 36  p2_break_pt_won     7284 non-null   int64
 37  p1_break_pt_missed  7284 non-null   int64
 38  p2_break_pt_missed  7284 non-null   int64
 39  p1_distance_run     7284 non-null   float64
 40  p2_distance_run     7284 non-null   float64
 41  rally_count         7284 non-null   int64
 42  speed_mph           6532 non-null   float64
 43  serve_width         7230 non-null   object
 44  serve_depth         7230 non-null   object
 45  return_depth        5975 non-null   object
dtypes: float64(3), int64(33), object(10)
memory usage: 2.6+ MB

In [10]:
df.loc[(df.p1_score=='AD'),'p1_score'] = 50
df.loc[(df.p2_score=='AD'),'p2_score'] = 50
df['p1_score'] = df['p1_score'].astype(int)
df['p2_score'] = df['p2_score'].astype(int)

df.dropna(subset=['speed_mph'],inplace=True)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6532 entries, 0 to 7283
Data columns (total 46 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   match_id            6532 non-null   object
 1   player1             6532 non-null   object
 2   player2             6532 non-null   object
 3   elapsed_time        6532 non-null   object
 4   set_no              6532 non-null   int64
 5   game_no             6532 non-null   int64
 6   point_no            6532 non-null   int64
 7   p1_sets             6532 non-null   int64
 8   p2_sets             6532 non-null   int64
 9   p1_games            6532 non-null   int64
 10  p2_games            6532 non-null   int64
 11  p1_score            6532 non-null   int32
 12  p2_score            6532 non-null   int32
 13  server              6532 non-null   int64
 14  serve_no            6532 non-null   int64
 15  point_victor        6532 non-null   int64
 16  p1_points_won       6532 non-null   int64
 17  p2_points_won       6532 non-null   int64
 18  game_victor         6532 non-null   int64
 19  set_victor          6532 non-null   int64
 20  p1_ace              6532 non-null   int64
 21  p2_ace              6532 non-null   int64
 22  p1_winner           6532 non-null   int64
 23  p2_winner           6532 non-null   int64
 24  winner_shot_type    6532 non-null   object
 25  p1_double_fault     6532 non-null   int64
 26  p2_double_fault     6532 non-null   int64
 27  p1_unf_err          6532 non-null   int64
 28  p2_unf_err          6532 non-null   int64
 29  p1_net_pt           6532 non-null   int64
 30  p2_net_pt           6532 non-null   int64
 31  p1_net_pt_won       6532 non-null   int64
 32  p2_net_pt_won       6532 non-null   int64
 33  p1_break_pt         6532 non-null   int64
 34  p2_break_pt         6532 non-null   int64
 35  p1_break_pt_won     6532 non-null   int64
 36  p2_break_pt_won     6532 non-null   int64
 37  p1_break_pt_missed  6532 non-null   int64
 38  p2_break_pt_missed  6532 non-null   int64
 39  p1_distance_run     6532 non-null   float64
 40  p2_distance_run     6532 non-null   float64
 41  rally_count         6532 non-null   int64
 42  speed_mph           6532 non-null   float64
 43  serve_width         6504 non-null   object
 44  serve_depth         6504 non-null   object
 45  return_depth        5465 non-null   object
dtypes: float64(3), int32(2), int64(33), object(8)
memory usage: 2.3+ MB